body {
    display: flex;
    background-color: #C0DFF7;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border-radius: 35px;
    background: white;
    opacity: 0.8;
    width: 15%;
    height: 40%;
}

input {
    width: 200px;
    height: 30px;
    font-size: calc(height-2);
    border-radius: 10px;
}

#login-btn {
    background: rgb(255, 255, 255);
}

#login-btn:hover {
    background-color: #8DD1F1;
}

h1 {
    font-size: 35px;
}